body {
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    color: #434455
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}

.logo {
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
        line-height: 1.17;
}
.logo-second-name{
    color: #2E2F42;
}
.menu-link{
    color: #2e2f42;

}
.menu-item {
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Body Medium */
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
h1{
    color: var(--WHITE, #FFF);
    
        /* Header 1 */
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        /* 107.143% */
        letter-spacing: 1.12px;
}
button{
        background: var(--IRIS, #4D5AE5);
        color: var(--WHITE, #FFF);
        
            /* Button Text */
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.64px;
}

.first-section{
    background: var(--NAVY-BLUE, #2E2F42);

}
.third-header{
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}

p{
    color: var(--SLATE, #434455);
    
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}

.team-header{
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 2 */
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;

}
h3{
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}

.main-footer {
    color: var(--IRIS, #4D5AE5);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.footer-p{
    color: var(--CLOUD, #F4F4FD);
    
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}

footer {
    background: var(--NAVY-BLUE, #2E2F42);
}
.logo-second-white{
    color: #F4F4FD;
}